/* Define the Finger Paint font */
@font-face {
    font-family: "Finger Paint";
    src: url("./Finger_Paint/FingerPaint-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Define the More Sugar font */
@font-face {
    font-family: "More Sugar";
    src: url("./More_Sugar/more-sugar.regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
