.navbar-stylo {
    margin-top: 15px;
    border-radius: 24px;

    margin-left: auto;
    margin-right: auto;

    background-color: #be9c5d;
    z-index: 10;
}

.navbar-stylo-2 {
    top: 0;

    margin-left: auto;
    margin-right: auto;

    background-color: #be9c5d;
    z-index: 100;
}

#navbarNav > ul > li:nth-child(n) > .nav-link.active {
    background-color: #deb76e !important;
}

.pattern-div {
    position: absolute;
    top: 0;
    opacity: 0.5;
    height: 200%;
    width: 100%;
    background-image: url("../public/images/school-pattern.jpg");
    background-size: auto 40%; /* Scale the image to cover 50% of the height */
    background-position: center top; /* Position the image at the top center */
    background-repeat: repeat; /* Repeat the image to cover the area */
    z-index: -10;
}

.big-div {
    margin-top: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    border-radius: 24px;
    background: linear-gradient(
        to bottom,
        #ffd380,
        /* Top color */ #ffeac2,
        #fff2db,
        rgba(255, 251, 243, 0.9) /* Bottom color with 70% opacity */
    );
}

.big-div .main-heading {
    font-weight: 700;
    text-align: center;
    color: #030201;
}

.big-div .second-heading {
    font-weight: 400;
    text-align: center;
    color: #030201;
}

.about-big-div {
    flex: 1;
    margin-top: 40px;
    border-radius: 24px;
    background: linear-gradient(
        to bottom,
        #ffd380,
        /* Top color */ #ffeac2,
        #fff2db,
        rgba(255, 251, 243, 0.9) /* Bottom color with 70% opacity */
    );
}

.about-big-div .about-heading {
    font-weight: 700;
    text-align: left;
    color: #030201;
}

.about-img-1 {
    border-radius: 24px;
    max-height: 10rem; /* Set your desired max-height */
    width: 100%; /* Maintain aspect ratio */
    object-fit: cover;
}

.third-heading {
    font-weight: 700 !important;
}

.form-container {
    border-radius: 27px;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
    position: relative;
    text-align: center;
    margin-top: -2.5rem;
    background-color: #fffbf3;
}

.about-container {
    border-radius: 27px;
    background: white;
    background-color: #fffbf3;
}

.form-buttons {
    display: flex;
    column-gap: 15px;
}

.form-content .form-input {
    border: 0;
    border-radius: 10px;
    height: 40px;
    padding: 0 20px;
    color: #abc4ff;
    font-size: 18px;
    font-weight: 300;
    background-color: #333533;
    outline: none;
}

.form-content .file-input {
    border: 0;
    border-radius: 10px;
    height: 40px;
    padding: 0 20px;
    color: #abc4ff;
    font-size: 18px;
    font-weight: 300;
    background-color: #333533;
    outline: none;
}

.form-control-22::placeholder {
    color: #526a90 !important; /* Placeholder text color */
    font-weight: 300;
}

.file-upload-section {
    display: flex;
}

.form-subbmitted {
    margin: 0;
    font-weight: 400;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
    text-align: center; /* Center align text inside paragraph */
}

#root > div > nav > div > button {
    line-height: 0;
    border: 0;
    background-color: #2c4875 !important;
    color: #bbc5d5 !important;
}

#root > div > nav > div > button:hover {
    background-color: #3f5983 !important;
}

.navbar-toggler,
.menu-button {
    border: 0 !important;
    background-color: unset !important;
    font-weight: 500 !important;
    color: #030201 !important;
    border-radius: 24px !important;
}

.navbar-brand {
    font-weight: 700 !important;
    color: #030201 !important;
}

.menu-button:hover {
    background-color: #9e824d !important;
    color: #030201 !important;
}

.form-control-22 {
    font-weight: 400 !important;
    background-color: #e8ebf1 !important;
    color: #0a1629 !important;
    border-color: #bbc5d5 !important;
}

.form-control-22:focus {
    border-color: #2c4875 !important;
    box-shadow: 0 0 0 0.25rem rgba(44, 72, 117, 0.25) !important;
}

.incorrect:focus {
    border-color: #8a508f !important;
    box-shadow: 0 0 0 0.25rem rgba(138, 80, 143, 0.25) !important;
}

.form-button {
    border: 0 !important;
    font-weight: 700 !important;
    background-color: #2c4875 !important;
    color: #e8ebf1 !important;
}

.form-button:hover {
    background-color: #3f5983 !important;
}

.submit-button {
    font-weight: 700 !important;
    background-color: #bc5090 !important;
    border: 0 !important;
    color: #faedf4 !important;
}

.submit-button:hover {
    background-color: #c4629b !important;
}

#file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0 !important;
    text-align: left !important;
}

.input-group-text {
    font-weight: 400 !important;
    background-color: #d1d8e3 !important;
    border-color: #bbc5d5 !important;
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}

.second-section {
    background: linear-gradient(to bottom, #7b8eac, #3f5983);
}

.second-section-features {
    border-radius: 24px;
    background-color: #d1d8e3;
}

.second-section-feature-text-bod {
}

.second-section-heading,
.second-section-heading2 {
    font-weight: 700 !important;
    color: #d1d8e3;
}

.third-section-heading {
    font-weight: 700 !important;
    color: #e3e6e8;
}

.third-section-feature-text {
    font-weight: 300 !important;
    color: #e3e6e8 !important;
}

.third-section-line {
    background-color: #e3e6e8;
    background: linear-gradient(to right, #e3e6e8, rgba(227, 230, 232, 0));
    transform: translate(0, 1rem);
    border-radius: 24px;
    margin-right: auto;
}

.third-section {
    background: linear-gradient(to top, #5e717b, #173340);
}

.forth-section-heading {
    font-weight: 700 !important;
    color: #e5eaee;
}

.forth-section-feature-text {
    font-weight: 300 !important;
    color: #e5eaee !important;
}

.forth-section-line {
    background-color: #e5eaee;
    background: linear-gradient(to right, #e5eaee, rgba(229, 234, 238, 0));
    transform: translate(0, 1rem);
    border-radius: 24px;
    margin-right: auto;
}

.forth-section {
    background-color: #173340;
}

.second-section-feature {
    font-weight: 300 !important;
    color: #140715;
}

.second-section-feature-text {
    font-weight: 300 !important;
    color: #140715 !important;
}

.carousel-control-prev,
.carousel-control-next {
    color: #8a508f !important;
    width: 4rem !important;
}

.second-section-feature-text-mini {
    color: #8a508f !important;
}

.icon-color-section2-2 {
    color: #8a508f;
}

.carousel-control-next {
    transform: translate(3rem, 0);
}

.carousel-control-prev {
    transform: translate(-3rem, 0);
}

.incorrect {
    background-color: #f3edf4 !important;
    color: #321a34 !important;
    border-color: #dcc9dd !important;
}

.incorrect::placeholder {
    color: #a172a5 !important; /* Placeholder text color */
    font-weight: 300;
}

.incorrect-d-none {
    background-color: #e8dbe8 !important;
    color: #321a34 !important;
    border-color: #dcc9dd !important;
}

@media (max-width: 992px) {
    .navbar-nav-main {
        flex-direction: row;
        gap: 0.5rem !important;
        margin-top: 0.5rem second-section-heading !important;
    }
    .nav-item {
        width: 50%;
    }
    .form-container {
        width: 100%;
    }
    .second-section-heading,
    .second-section-heading2 {
        text-align: center;
        margin-bottom: 5rem !important;
    }
    .div-features-css {
        z-index: 1;
    }
    .second-section-line {
        width: 30%;
        background-color: #bbc5d5;
        background: linear-gradient(to right, #d1d8e3, rgba(209, 216, 227, 0));
        transform: translate(0, -3rem);
        border-radius: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .second-section-line2 {
        background: linear-gradient(to left, #d1d8e3, rgba(209, 216, 227, 0));
    }
    .image-2 {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .navbar-nav-main {
        flex-direction: row;
        gap: 0.5rem !important;
    }
    .form-container {
        width: 40%;
    }
    .second-section-heading,
    .second-section-heading2 {
        margin-bottom: -1rem !important;
    }
    .second-section-heading2 {
        text-align: right;
    }
    .div-features-css {
        z-index: 1;
    }
    .second-section-line {
        width: 70%;
        transform: translate(0%, 3rem);
        border-radius: 24px;
        background: linear-gradient(to right, #d1d8e3, rgba(209, 216, 227, 0));
    }

    .second-section-line2 {
        background: linear-gradient(to left, #d1d8e3, rgba(209, 216, 227, 0));
    }
}

/* Base styles for the image */
.responsive-image {
    width: 100%; /* Full width by default */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image doesn't exceed its container */
    z-index: 10;
    pointer-events: none; /* Prevents mouse events */
    user-select: none; /* Prevents text selection */
}

/* Extra small devices (xs) */
@media (max-width: 575.98px) {
    .responsive-image {
        width: 80%; /* 80% width on extra-small screens */
        margin: 0 auto; /* Center the image */
    }
    .image-2 {
        width: 70%;
    }
}

/* Small devices (sm) */
@media (min-width: 576px) {
    .responsive-image.sm-75 {
        width: 75%; /* 75% width on small screens */
        margin: 0 auto; /* Center the image */
    }
    .responsive-image.sm-50 {
        width: 50%; /* 50% width on small screens */
        margin: 0 auto; /* Center the image */
    }
}

/* Medium devices (md) */
@media (min-width: 768px) {
    .responsive-image.md-75 {
        width: 75%; /* 75% width on medium screens */
        margin: 0 auto; /* Center the image */
    }
    .responsive-image.md-50 {
        width: 50%; /* 50% width on medium screens */
        margin: 0 auto; /* Center the image */
    }
}

/* Large devices (lg) */
@media (min-width: 992px) {
    .responsive-image.lg-50 {
        width: 50%; /* 50% width on large screens */
        margin: 0 auto; /* Center the image */
    }
    .responsive-image.lg-25 {
        width: 25%; /* 25% width on large screens */
        margin: 0 auto; /* Center the image */
    }
}

/* Extra large devices (xl) */
@media (min-width: 1200px) {
    .responsive-image.xl-50 {
        width: 50%; /* 50% width on extra-large screens */
        margin: 0 auto; /* Center the image */
    }
    .responsive-image.xl-25 {
        width: 25%; /* 25% width on extra-large screens */
        margin: 0 auto; /* Center the image */
    }
}
